.speedDial {
  display: flex;
  position: absolute;
  right: 3px;
  background-color: transparent;
}

.speedDial .MuiSpeedDial-fab {
  background-color: transparent;
  box-shadow: none;
}

.speedDial .MuiSpeedDial-fab:hover {
  background-color: #da8888;
  padding: 5px;
  border-radius: 30px;
}

.speedDial .delete-action:hover {
  background-color: rgb(213, 70, 98);
}
