.speedDial {
  display: flex;
  justify-items: right;
  align-self: start;
  position: absolute;
  background-color: transparent;
}

.speedDial .MuiSpeedDial-fab {
  background-color: transparent;
  box-shadow: none;
}

.speedDial .MuiSpeedDial-fab:hover {
  background-color: #da8888;
  border-radius: 30px;
}

.speedDial .delete-action:hover {
  background-color: rgb(213, 70, 98);
}
