.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: none; */
}

.container .SearchOffIcon {
  font-size: 5rem;
  margin-bottom: 16px;
}

.container .tex {
  font-size: larger;
}
