.footer-items {
  display: flex;
  color: #fff;
  font-size: 1.5rem;
  background-color: black;
  width: 100%;
}

.social-links {
  display: flex;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 85%;
}

.footer-links {
  display: flex;
  color: #fff;
  font-size: 1.5rem;
}
