.footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center; /* Center footer items horizontally */
  align-items: center; /* Center footer items vertically */
}

.footer-items {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  max-width: 800px; /* Set a maximum width for the footer content */
  width: 100%; /* Ensure it uses full width up to the max-width */
  margin: 0 auto; /* Center the footer-items horizontally */
}

.social-links {
  display: flex;
  justify-content: center; /* Center social media icons horizontally */
  margin-bottom: 10px; /* Space between social icons and copyright */
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: coral; /* Hover effect color */
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center; /* Center text horizontally */
}

.footer-links p {
  margin: 0;
  font-size: 1.2rem;
}
