/* Main container styling */
.adminOptions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 50%;
  background: transparent;
}

.adminOptions :hover {
  color: #ffffff;
  background-color: #a1a4a7;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-button,
.delete-button {
  padding: 10px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #f0f0f0;
}

.delete-button:hover {
  color: white;
  background-color: #ff0000;
}

.edit-button > MenuItem,
.delete-button > MenuItem {
  font-size: 16px;
  color: #333;
}
