/* Main container styling */
.adminOptions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Arial, sans-serif;
  color: #a5a7a5;
}

.adminOptions :hover {
  color: #07cf32;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-button,
.delete-button {
  padding: 10px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #f0f0f0;
}
.delete-button:hover {
  color: white;
  background-color: #ff0000;
}

.edit-button > MenuItem,
.delete-button > MenuItem {
  font-size: 16px;
  color: #333;
}

/* Ensuring Event components have some spacing*/
.event-component {
  margin: 0 5px;
}

/* Base styling for the card */
.event-card {
  width: min-content;
  background-color: #edecf3;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  min-width: 300px;
  min-height: 500px;
}

/* Hover effect to make the card grow and add shadow */
.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  text-decoration: underline;
}

/* Optional: Ensure images within the card are properly styled */
.event-card img {
  width: 100%;
  height: 170px;
  /* Set height to fill the top half */
  object-fit: cover;
  /* Ensures the image covers the space without distortion */
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Styling for the card title */
.event-card .card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

/* Styling for card text */
.event-card .card-text p {
  margin: 0.5rem 0;
  width: 16rem;
  overflow-wrap: break-word;
  align-items: start;
}

/* Optional: Button styling */
.event-card .btn-primary {
  background-color: #007bff;
  border: none;
}

.event-card .btn-primary:hover {
  background-color: #0056b3;
}

.event-card .btn-secondary {
  background-color: #6c757d;
  border: none;
}

.event-card .btn-secondary:disabled {
  background-color: #adb5bd;
}
