.register-button {
  display: flex;
  justify-content: center;
}

/* CSS for EventCard.tsx */
.cardIconButton:hover {
  transform: scale(1.05);
}

.cardIconButton {
  border: none;
  border-radius: 50%;
  padding: 0.5em;
  cursor: pointer;
  transition: transform 0.25s;
}

.event-card {
  border-radius: 8px;
  transition: box-shadow 0.25s;
  /* box-shadow: 0 0 10px rgba(255, 115, 0, 0.23); */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
