.events-container-default-style {
  display: flex;
  max-width: 1300px;
  margin: auto;
}

.events-container-show-all-events-style {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: right;
  margin: 10px;
  gap: 10px;
}

.events-show {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: right;
  margin: 10px;
  gap: 10px;
  margin: auto;
}

/* Styling for the shift buttons*/
.shift-buttons {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.shift-buttons:hover {
  background-color: #3c0e0e;
}

.show-all {
  margin-right: 5%;
}

.events-header-button {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}
