.page1-form {
  /* margin: 20px 250px;  */
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.editable {
  display: block;
  width: 100%;
  padding: 10px;
  white-space: pre-wrap;
  text-align: right;
  margin: 0;
  line-height: 1.5;
}
