.button-icon {
  margin: 10px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-icon .MuiButton-startIcon {
  margin: 0;
}
