.button-icon {
  margin: 10px;
  border-radius: 50%;
  height: 150px;
  /* width: 12%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.std-btn {
  margin: 10px;
  border-radius: 50%;
  height: 150px;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.std-btn .MuiButton-startIcon {
  margin: 0;
}

.button-icon .MuiButton-startIcon {
  margin: 0;
}
