.dialog-container {
  padding: 16px;
}

.table-container {
  margin-top: 20px;
  width: 95%;
  height: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 16px;
  overflow: hidden;
}

.table-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: bold;
}

.data-grid-container {
  height: 600px;
  width: 100%;
}

.data-grid {
  & .actions {
    display: flex;
    justify-content: center;
  }

  & .MuiDataGrid-overlayWrapper {
    height: 500px;
  }

  & .MuiTablePagination-root {
    direction: ltr;
    width: 100%;
  }

  & .MuiDataGrid-cell {
    display: flex;
    align-items: center;
  }
}

.mat-in-box {
  margin: auto;
}
