.form-body {
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  background-color: rgb(181, 187, 187);
}


.backgroundStyle{
    background-color: #d1c8bf;
    width: 45rem;
}
