/* DeleteModal.css */
.modal-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 24;
  padding: 5px;
  border: 2px solid;
}

.modal-box .clos-btn {
  display: flex;
  margin: 5px;
  position: absolute;
  left: 0px;
}

.modal-box .del-title {
  margin: 10px;
}

.modal-box .del-body {
  margin: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: right;
  margin-top: 16px;
}
