.container {
  display: flex;
  margin: 5px, auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.text {
  color: #333;
}

.textt {
  color: #b06464;
}

.add-btn {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  padding: 10px 20px;
  color: #060606;
  background-color: #205996;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button-add:hover {
  background-color: #4f7195;
}

.addIcon {
  color: crimson;
}
