.move-list-container {
  width: 30rem;
  height: fit-content;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
  background-color: #d6d0cc;
  border:
    5px,
    solid #5c191b;
}

.move-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.move-list-item-button {
  margin: 0 8px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.move-list-item-text {
  text-align: center;
  color: black;
}

.move-list-container .clo-btn {
  position: absolute;
  top: 2%;
  left: 0%;
}

.close-icn {
  color: rgba(183, 46, 46, 0.622);
  width: 20px;
}
