.Container {
  display: flex;
  align-items: center;
  background-color: #edd2d2;
  border-radius: 10px;
  height: 3rem;
  padding: 0px;
  border: 3px solid #615f5f;
  margin: 20px;
  box-shadow: 0px 2px 3px 3px #bcbbbb;
  width: 20%;
  /*  #a4a49f;  #e0a3a3 #edd2d2    EDEBE8*/
}

input {
  background-color: transparent;
  border: none;
  height: 50%;
  font-size: 1.25rem;
  width: 50%;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

#search-icon {
  margin-right: 10px;
  font-size: 3rem;
  padding: 5px;
  margin-left: 10px;
  transition: transform 1s ease;
}
