body {
    background-image: url('/robor.webp');
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-position: inherit;
    background-color: rgb(165, 159, 159);
    background-repeat: no-repeat;
}

.Card {
    width: 20rem;
    min-width: 16rem;
    border: 2px solid rgb(252, 251, 252);
    background-color: #d1c8bf;
    box-shadow: -3px 8px 13px 12px rgba(33, 32, 33, 0.69);
    border-radius: 20px;
    box-shadow: 0px 4px 20px 3px rgba(33, 32, 33, 0.69);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.button {
    /* width: 20vw;
    height: 12vh; */
    background-color: transparent;
    margin: 5px;
    font-size: 30px;
}