.mat-out-box {
  height: 100%;
  width: 100%;
  padding: 30px;
  /* border: 2px solid; */
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.mat-in-box {
  height: 90%;
  width: 90%;
  padding: 20px;
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border: 8px solid rgba(255, 255, 255, 0.2);
}

.btn-search {
  display: flex;
  height: fit-content;
  max-height: 80vh;
  width: 99%;
  min-width: fit-content;
  align-items: center;
  margin-right: 6px;
  justify-content: space-between;
  /* border: 2px solid; */
  padding: 4px;
  top: 0;
}

.search {
  width: 90%;
}

.btns {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  gap: 10px;
}

.btns .edit-button {
  /* color: #6c0102; */
  /* color: whitesmoke; */
  /* background-color: #5a0f10; */
  transition: 0.5s ease-in;
  /* box-shadow: 0px 0px 2px 2px #f78d8de4; */
}

.btns .edit-button:hover {
  background-color: #bb6363e4;
  padding: 2px;
}

.btns .adde-btn {
  /* color: whitesmoke; */
  /* background-color: #5a0f10; */
  transition: 0.5s ease-in;
  /* box-shadow: 0px 0px 2px 2px #f78d8de4; */
}

.btns .adde-btn:hover {
  background-color: #bb6363e4;
}

.con-taf {
  width: 100%;
  min-width: 20rem;
}

.primary {
  display: flex;
  width: 100%;
  /* border: 2px solid; */
}

.study-materials-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
