.primary {
  border: none;
  border-radius: none;
  background-color: transparent;
  display: flex;
  margin: 20px;
}

.study-materials-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: right;
  gap: 20px;
}

.btn-search {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: space-between;
}

.btns {
  margin-left: 14px;
}

.btn-search .adde-btn {
  /* background: linear-gradient(90deg, rgba(222, 67, 19, 1) 6%, rgba(254, 193, 99, 1) 94%); */
  color: whitesmoke;
  background-color: #ee9bc9;
  margin-left: 18px;
  transition: ease 0.5s;
}

.btn-search .adde-btn:hover {
  padding: 2rem;
}

.btn-search .del-btn {
  transition: ease 0.5s;
  color: whitesmoke;
  /* background: radial-gradient(circle, rgba(218, 12, 12, 1) 32%, rgba(245, 187, 107, 1) 100%); */
  background-color: rgb(233, 139, 139);
}

.btn-search .del-btn:hover {
  padding: 2rem;
}

.Card-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stg-nam {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btns .edit-button {
  background-color: #e0b1cb;
  margin-left: 18px;
  color: whitesmoke;
}

.btns .edit-button:hover {
  background-color: #ee9bc9;
}

.header-text {
  text-align: right;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
