.primary {
  border: none;
  border-radius: none;
  background-color: transparent;
  display: flex;
  margin: 20px;
}

.study-materials-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: right;
  gap: 20px;
}

.btn-search {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: space-between;
}

.btn-search .adde-btn {
  background-color: rgb(16, 16, 144);
  color: whitesmoke;
  margin-left: 18px;
}

.btn-search .adde-btn:hover {
  background-color: rgb(53, 53, 212);
}

.Card-Header .edit-button {
  background-color: #e0b1cb;
  color: whitesmoke;
}

.Card-Header .edit-button:hover {
  background-color: #ee9bc9;
}

.Card-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  text-align: right;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
