.study-material-container {
  background-image: url('/robor.webp');
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-position: inherit;
  background-color: rgb(165, 159, 159);
  background-repeat: no-repeat;
}

.Card {
  min-width: 20rem;
  max-width: 20rem;
  border: 3px solid rgb(252, 251, 252);
  background-color: #d6ccc2;
  box-shadow: 3px 3px 3px 4px rgba(53, 50, 53, 0.69);
  border-radius: 10px;
  margin: 0px;
  padding: 6px;
  display: inline-block;
}

.bu-more {
  width: fit-content;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 4px;
  margin: 0px;
}

.bu-more:hover {
  background-color: #9b9a9a;
  /* background-color: transparent; */
}

.Card .title-card {
  max-height: 6vh;
  min-height: 6vh;
  font-size: 20px;
}

.Card .description {
  max-height: 20vh;
  min-height: 5vh;
  font-size: 15px;
  /* text-align: right; */
}

.Card .date {
  min-height: 5vh;
  font-size: 16px;
  /* text-align: right; */
}

.Card .dow-button {
  display: flex;
  margin: auto;
  padding: 10px 20px;
  color: #060606;
  background-color: #acc4ac;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.Card .dow-button:hover {
  background-color: #9ed09e;
}

.Card .dow-icon {
  margin-right: 50px;
  color: whitesmoke;
}
