.alert {
  display: flex;
  min-width: 25rem;
  width: fit-content;
  text-align: left;
  /* vertical-align: bottom; */
  border-radius: 20px;
  margin: 5px;
  flex-wrap: wrap;
  border-left: 5px solid green;
  justify-content: left;
}

.alert .close {
  display: flex;
  position: absolute;
  width: 1.35rem;
  right: 3px;
  top: 8px;
  padding: 3px;
}

.alert .close-icn {
  color: rgb(105, 104, 104);
  width: 20px;
}

/* .alert .MuiAlertTitle-root {
  color: rgb(32, 114, 80);
  font-size: 20px;
  font-weight: bold;
} */
